.bg-full-screen-image {
    background: url('/admin/app-assets/images/sallaty-login-bg.png') !important;
    background-size: cover;
}

.dropdown.dropdown-language .dropdown-menu{
    
    width: 20px !important;
    height: auto !important;
}